nifi-templates/twitter_analysis_process_group_demo.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.3">
    <description></description>
    <groupId>79a1fd80-016f-1000-e398-0478ad80f2de</groupId>
    <name>twitter_analysis_process_group_demo</name>
    <snippet>
        <connections>
            <id>3bb1975f-f4fa-364d-0000-000000000000</id>
            <parentGroupId>7377b882-4cd4-39c1-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>7377b882-4cd4-39c1-0000-000000000000</groupId>
                <id>7aa90014-81e0-3d78-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>filterTweetAndLocation</selectedRelationships>
            <selectedRelationships>filterTweetAndLocation_nl</selectedRelationships>
            <source>
                <groupId>7377b882-4cd4-39c1-0000-000000000000</groupId>
                <id>ba795ac6-6773-30ae-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>b010d6e8-58ef-36de-0000-000000000000</id>
            <parentGroupId>7377b882-4cd4-39c1-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>7377b882-4cd4-39c1-0000-000000000000</groupId>
                <id>ba795ac6-6773-30ae-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>failure</selectedRelationships>
            <selectedRelationships>matched</selectedRelationships>
            <source>
                <groupId>7377b882-4cd4-39c1-0000-000000000000</groupId>
                <id>379c2d4e-f8d2-327c-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>d4d54be9-0104-3fd4-0000-000000000000</id>
            <parentGroupId>7377b882-4cd4-39c1-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <bends>
                <x>175.0</x>
                <y>341.0</y>
            </bends>
            <destination>
                <groupId>7377b882-4cd4-39c1-0000-000000000000</groupId>
                <id>379c2d4e-f8d2-327c-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>7377b882-4cd4-39c1-0000-000000000000</groupId>
                <id>73bc65d2-5535-3511-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <labels>
            <id>1d0813cd-c682-38ec-0000-000000000000</id>
            <parentGroupId>7377b882-4cd4-39c1-0000-000000000000</parentGroupId>
            <position>
                <x>192.0</x>
                <y>496.0</y>
            </position>
            <height>32.0</height>
            <label>Extract JSON attribute[s] from twitter api text.</label>
            <style>
                <entry>
                    <key>font-size</key>
                    <value>12px</value>
                </entry>
            </style>
            <width>264.0</width>
        </labels>
        <labels>
            <id>56661016-832c-335e-0000-000000000000</id>
            <parentGroupId>7377b882-4cd4-39c1-0000-000000000000</parentGroupId>
            <position>
                <x>200.0</x>
                <y>8.0</y>
            </position>
            <height>32.0</height>
            <label>Consume sample twitter feeds.</label>
            <style>
                <entry>
                    <key>font-size</key>
                    <value>12px</value>
                </entry>
            </style>
            <width>184.0</width>
        </labels>
        <labels>
            <id>9f7a0ea9-a469-3a00-0000-000000000000</id>
            <parentGroupId>7377b882-4cd4-39c1-0000-000000000000</parentGroupId>
            <position>
                <x>840.0</x>
                <y>0.0</y>
            </position>
            <height>32.0</height>
            <label>Publish the tweet to kafka topic.</label>
            <style>
                <entry>
                    <key>font-size</key>
                    <value>12px</value>
                </entry>
            </style>
            <width>200.0</width>
        </labels>
        <labels>
            <id>dda5e902-4411-3849-0000-000000000000</id>
            <parentGroupId>7377b882-4cd4-39c1-0000-000000000000</parentGroupId>
            <position>
                <x>848.0</x>
                <y>504.0</y>
            </position>
            <height>24.0</height>
            <label>Filter required tweets.</label>
            <style>
                <entry>
                    <key>font-size</key>
                    <value>12px</value>
                </entry>
            </style>
            <width>160.0</width>
        </labels>
        <processors>
            <id>379c2d4e-f8d2-327c-0000-000000000000</id>
            <parentGroupId>7377b882-4cd4-39c1-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>536.0</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.10.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>4</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Destination</key>
                        <value>
                            <name>Destination</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Return Type</key>
                        <value>
                            <name>Return Type</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Path Not Found Behavior</key>
                        <value>
                            <name>Path Not Found Behavior</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Null Value Representation</key>
                        <value>
                            <name>Null Value Representation</name>
                        </value>
                    </entry>
                    <entry>
                        <key>twitter.coordinates</key>
                        <value>
                            <name>twitter.coordinates</name>
                        </value>
                    </entry>
                    <entry>
                        <key>twitter.geo</key>
                        <value>
                            <name>twitter.geo</name>
                        </value>
                    </entry>
                    <entry>
                        <key>twitter.handle</key>
                        <value>
                            <name>twitter.handle</name>
                        </value>
                    </entry>
                    <entry>
                        <key>twitter.hashtags</key>
                        <value>
                            <name>twitter.hashtags</name>
                        </value>
                    </entry>
                    <entry>
                        <key>twitter.language</key>
                        <value>
                            <name>twitter.language</name>
                        </value>
                    </entry>
                    <entry>
                        <key>twitter.location</key>
                        <value>
                            <name>twitter.location</name>
                        </value>
                    </entry>
                    <entry>
                        <key>twitter.msg</key>
                        <value>
                            <name>twitter.msg</name>
                        </value>
                    </entry>
                    <entry>
                        <key>twitter.place</key>
                        <value>
                            <name>twitter.place</name>
                        </value>
                    </entry>
                    <entry>
                        <key>twitter.time</key>
                        <value>
                            <name>twitter.time</name>
                        </value>
                    </entry>
                    <entry>
                        <key>twitter.tweet_id</key>
                        <value>
                            <name>twitter.tweet_id</name>
                        </value>
                    </entry>
                    <entry>
                        <key>twitter.unixtime</key>
                        <value>
                            <name>twitter.unixtime</name>
                        </value>
                    </entry>
                    <entry>
                        <key>twitter.user</key>
                        <value>
                            <name>twitter.user</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Destination</key>
                        <value>flowfile-attribute</value>
                    </entry>
                    <entry>
                        <key>Return Type</key>
                        <value>json</value>
                    </entry>
                    <entry>
                        <key>Path Not Found Behavior</key>
                        <value>ignore</value>
                    </entry>
                    <entry>
                        <key>Null Value Representation</key>
                        <value>empty string</value>
                    </entry>
                    <entry>
                        <key>twitter.coordinates</key>
                        <value>$.coordinates</value>
                    </entry>
                    <entry>
                        <key>twitter.geo</key>
                        <value>$.geo</value>
                    </entry>
                    <entry>
                        <key>twitter.handle</key>
                        <value>$.user.screen_name</value>
                    </entry>
                    <entry>
                        <key>twitter.hashtags</key>
                        <value>$.entities.hashtags[0].text</value>
                    </entry>
                    <entry>
                        <key>twitter.language</key>
                        <value>$.lang</value>
                    </entry>
                    <entry>
                        <key>twitter.location</key>
                        <value>$.user.location</value>
                    </entry>
                    <entry>
                        <key>twitter.msg</key>
                        <value>$.text</value>
                    </entry>
                    <entry>
                        <key>twitter.place</key>
                        <value>$.place</value>
                    </entry>
                    <entry>
                        <key>twitter.time</key>
                        <value>$.created_at</value>
                    </entry>
                    <entry>
                        <key>twitter.tweet_id</key>
                        <value>$.id</value>
                    </entry>
                    <entry>
                        <key>twitter.unixtime</key>
                        <value>$.timestamp_ms</value>
                    </entry>
                    <entry>
                        <key>twitter.user</key>
                        <value>$.user.name</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>1 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>EvaluateJsonPath</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>matched</name>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>unmatched</name>
            </relationships>
            <state>RUNNING</state>
            <style/>
            <type>org.apache.nifi.processors.standard.EvaluateJsonPath</type>
        </processors>
        <processors>
            <id>73bc65d2-5535-3511-0000-000000000000</id>
            <parentGroupId>7377b882-4cd4-39c1-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>56.0</y>
            </position>
            <bundle>
                <artifact>nifi-social-media-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.10.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Twitter Endpoint</key>
                        <value>
                            <name>Twitter Endpoint</name>
                        </value>
                    </entry>
                    <entry>
                        <key>max-client-error-retries</key>
                        <value>
                            <name>max-client-error-retries</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Consumer Key</key>
                        <value>
                            <name>Consumer Key</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Consumer Secret</key>
                        <value>
                            <name>Consumer Secret</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Access Token</key>
                        <value>
                            <name>Access Token</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Access Token Secret</key>
                        <value>
                            <name>Access Token Secret</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Languages</key>
                        <value>
                            <name>Languages</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Terms to Filter On</key>
                        <value>
                            <name>Terms to Filter On</name>
                        </value>
                    </entry>
                    <entry>
                        <key>IDs to Follow</key>
                        <value>
                            <name>IDs to Follow</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Locations to Filter On</key>
                        <value>
                            <name>Locations to Filter On</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Twitter Endpoint</key>
                        <value>Sample Endpoint</value>
                    </entry>
                    <entry>
                        <key>max-client-error-retries</key>
                        <value>5</value>
                    </entry>
                    <entry>
                        <key>Consumer Key</key>
                    </entry>
                    <entry>
                        <key>Consumer Secret</key>
                    </entry>
                    <entry>
                        <key>Access Token</key>
                    </entry>
                    <entry>
                        <key>Access Token Secret</key>
                    </entry>
                    <entry>
                        <key>Languages</key>
                    </entry>
                    <entry>
                        <key>Terms to Filter On</key>
                    </entry>
                    <entry>
                        <key>IDs to Follow</key>
                    </entry>
                    <entry>
                        <key>Locations to Filter On</key>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>5 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>GetTwitter</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>RUNNING</state>
            <style/>
            <type>org.apache.nifi.processors.twitter.GetTwitter</type>
        </processors>
        <processors>
            <id>7aa90014-81e0-3d78-0000-000000000000</id>
            <parentGroupId>7377b882-4cd4-39c1-0000-000000000000</parentGroupId>
            <position>
                <x>648.0</x>
                <y>48.0</y>
            </position>
            <bundle>
                <artifact>nifi-kafka-0-10-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.10.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>bootstrap.servers</key>
                        <value>
                            <name>bootstrap.servers</name>
                        </value>
                    </entry>
                    <entry>
                        <key>security.protocol</key>
                        <value>
                            <name>security.protocol</name>
                        </value>
                    </entry>
                    <entry>
                        <key>sasl.kerberos.service.name</key>
                        <value>
                            <name>sasl.kerberos.service.name</name>
                        </value>
                    </entry>
                    <entry>
                        <key>kerberos-credentials-service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
                            <name>kerberos-credentials-service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>sasl.kerberos.principal</key>
                        <value>
                            <name>sasl.kerberos.principal</name>
                        </value>
                    </entry>
                    <entry>
                        <key>sasl.kerberos.keytab</key>
                        <value>
                            <name>sasl.kerberos.keytab</name>
                        </value>
                    </entry>
                    <entry>
                        <key>ssl.context.service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
                            <name>ssl.context.service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>topic</key>
                        <value>
                            <name>topic</name>
                        </value>
                    </entry>
                    <entry>
                        <key>acks</key>
                        <value>
                            <name>acks</name>
                        </value>
                    </entry>
                    <entry>
                        <key>kafka-key</key>
                        <value>
                            <name>kafka-key</name>
                        </value>
                    </entry>
                    <entry>
                        <key>key-attribute-encoding</key>
                        <value>
                            <name>key-attribute-encoding</name>
                        </value>
                    </entry>
                    <entry>
                        <key>message-demarcator</key>
                        <value>
                            <name>message-demarcator</name>
                        </value>
                    </entry>
                    <entry>
                        <key>max.request.size</key>
                        <value>
                            <name>max.request.size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>ack.wait.time</key>
                        <value>
                            <name>ack.wait.time</name>
                        </value>
                    </entry>
                    <entry>
                        <key>max.block.ms</key>
                        <value>
                            <name>max.block.ms</name>
                        </value>
                    </entry>
                    <entry>
                        <key>partitioner.class</key>
                        <value>
                            <name>partitioner.class</name>
                        </value>
                    </entry>
                    <entry>
                        <key>compression.type</key>
                        <value>
                            <name>compression.type</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>bootstrap.servers</key>
                        <value>kafka-headless.project.svc.cluster.local:9092</value>
                    </entry>
                    <entry>
                        <key>security.protocol</key>
                        <value>PLAINTEXT</value>
                    </entry>
                    <entry>
                        <key>sasl.kerberos.service.name</key>
                    </entry>
                    <entry>
                        <key>kerberos-credentials-service</key>
                    </entry>
                    <entry>
                        <key>sasl.kerberos.principal</key>
                    </entry>
                    <entry>
                        <key>sasl.kerberos.keytab</key>
                    </entry>
                    <entry>
                        <key>ssl.context.service</key>
                    </entry>
                    <entry>
                        <key>topic</key>
                        <value>tweets_demo_1</value>
                    </entry>
                    <entry>
                        <key>acks</key>
                        <value>0</value>
                    </entry>
                    <entry>
                        <key>kafka-key</key>
                    </entry>
                    <entry>
                        <key>key-attribute-encoding</key>
                        <value>utf-8</value>
                    </entry>
                    <entry>
                        <key>message-demarcator</key>
                    </entry>
                    <entry>
                        <key>max.request.size</key>
                        <value>1 MB</value>
                    </entry>
                    <entry>
                        <key>ack.wait.time</key>
                        <value>5 secs</value>
                    </entry>
                    <entry>
                        <key>max.block.ms</key>
                        <value>5 sec</value>
                    </entry>
                    <entry>
                        <key>partitioner.class</key>
                        <value>org.apache.kafka.clients.producer.internals.DefaultPartitioner</value>
                    </entry>
                    <entry>
                        <key>compression.type</key>
                        <value>none</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>1 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>PublishKafka_0_10</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>success</name>
            </relationships>
            <state>RUNNING</state>
            <style/>
            <type>org.apache.nifi.processors.kafka.pubsub.PublishKafka_0_10</type>
        </processors>
        <processors>
            <id>ba795ac6-6773-30ae-0000-000000000000</id>
            <parentGroupId>7377b882-4cd4-39c1-0000-000000000000</parentGroupId>
            <position>
                <x>656.0</x>
                <y>544.0</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.10.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Routing Strategy</key>
                        <value>
                            <name>Routing Strategy</name>
                        </value>
                    </entry>
                    <entry>
                        <key>filterTweetAndLocation</key>
                        <value>
                            <name>filterTweetAndLocation</name>
                        </value>
                    </entry>
                    <entry>
                        <key>filterTweetAndLocation_nl</key>
                        <value>
                            <name>filterTweetAndLocation_nl</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Routing Strategy</key>
                        <value>Route to Property name</value>
                    </entry>
                    <entry>
                        <key>filterTweetAndLocation</key>
                        <value>${twitter.msg:isEmpty():not():and(${twitter.location:isEmpty():not()}):and(${twitter.language:equals('en')})}</value>
                    </entry>
                    <entry>
                        <key>filterTweetAndLocation_nl</key>
                        <value>${twitter.msg:isEmpty():not():and(${twitter.location:isEmpty():not()}):and(${twitter.language:equals('nl')})}</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>1 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>RouteOnAttribute</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>filterTweetAndLocation</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>filterTweetAndLocation_nl</name>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>unmatched</name>
            </relationships>
            <state>RUNNING</state>
            <style/>
            <type>org.apache.nifi.processors.standard.RouteOnAttribute</type>
        </processors>
    </snippet>
    <timestamp>01/06/2020 15:57:18 UTC</timestamp>
</template>
